img{
  width: 300px;
  border: 1px solid black;
}

h1, h2, p{
  text-align: center;
}

.pictures{
  width: 350px;
  height: 500px;
  float: left;
}

footer{
  clear: both;
}

li{
  list-style-type: none;
}

canvas{
  height: 500px;
  width: 100%;
}
